.confirmation-modal-body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 2rem;
}

/* Align modal close (X) button to the top of the header */
.confirmation-modal .pf-v5-c-modal-box__close,
.confirmation-modal .pf-v6-c-modal-box__close {
  inset-block-start: 0;
  top: 1rem;
}
